Binaries
DerivedDataCache
Intermediate
Saved
Build
Assets

.vscode
.idea
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/__ExternalActors__
Content/__ExternalAssets__
Content/StarterContent